header {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}


span {font-weight: bold;}

li {list-style-type: none;}
#container {border-style: solid;}
#card {border-style: solid;}

div {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#projectList {
    display: flex;
    flex-wrap: wrap;
}
header {
    display: flex;
    flex-wrap: wrap;
}

#primaryInfo {
  float: left;
}
